<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row">

      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <div class="skills-content mt-4">
          <img src="/../assets/ForDashboard/img/hostel.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <hr><h2 class="text-center">Welcome to our Hostel</h2><hr>
        <h3>
          We are located at Tiruttani. Tiruttani location is near GRT college.Royal Care Provides all facilities which student required for study purpose. Royal care Providing WI-FI and Many more Facilities.
          Food Package includes Breakfast, Lunch and Dinner.
        </h3>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Specious room with Air condition and Fridge facilities.<br> Storage Cupboard and 24x7 internet facility with Wi-Fi.<br> for each person</div>
            </div>
          </div>
        </div>
        <p class="font-italic">
      </div>
    </div>
</section>
<section class="counts section-bg">
  <div class="container">

    <div class="row no-gutters justify-content-center">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-girl"></i>
          <span data-toggle="counter-up">10</span>
          <p><strong>Total rooms for AC</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-girl"></i>
          <span data-toggle="counter-up">10</span>
          <p><strong>Total Rooms for NON-AC</strong></p>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-girl"></i>
          <span data-toggle="counter-up">10</span>
          <p><strong>Total Rooms for NORMAL ROOMS</strong></p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2>Our Team</h2>
    </div>

    <div class="row" style="padding-left: 228px;">

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/team-1.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Kiruthiga M</h4>
            </div>
            <div class="social">
              <a href="https://twitter.com" target="_blank"><i class="icofont-twitter"></i></a>
              <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in" target="_blank"><i class="icofont-linkedin" target="_blank"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/team-3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Surya Kumar R</h4>
            </div>
            <div class="social">
              <a href=""><i class="icofont-twitter" target="_blank"></i></a>
              <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
              <a href=""><i class="icofont-linkedin" target="_blank"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/team-6.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Brindha P</h4>
            </div>
            <div class="social">
              <a href=""><i class="icofont-twitter" target="_blank"></i></a>
              <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
              <a href=""><i class="icofont-linkedin" target="_blank"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hostel-footer></hostel-footer>
</section>




